* {
    font-family: Arial, Helvetica, sans-serif;
}
.thumbnail {
    display: block;
    width: 350px;
    height: auto;
    border-radius: 3%;
    }

header {
    background-color: rgb(173, 173, 173);
    display: flex;
}

.youtube {
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.searchbox {
    font-size: 20px;
    margin-left: 12px;
    height: fit-content;
    border: none;
    
}

.vid-container {
    display: inline-block;
    width:350px;
    margin:10px;
    
}


.vid-title {
    font-weight: bold;

}

.vid-author, .vid-stats {
    display: block;
    margin:10px;
}
 