@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

p {
    font-family: Roboto, sans-serif;
}

.thumbnail {
    width: 100%;
    height: auto;
    border-radius: 3%;
    }

header {
    background-color: rgb(173, 173, 173);
    display: block;
}

.youtube {
    font-size: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.main-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}


.searchbox {
    font-size: 20px;
    margin-left: 12px;
    height: fit-content;
    border: 0px;
    
}




.vid-title {
    
    font-weight: 550;
    font-size: 15px;
    margin-top: 0px;
    
    margin-bottom: 10px;
}

.vid-author, .vid-stats {
    display: block;
    columns: rgb(96,96,96);
    font-weight: 350;
    font-size: 12px;
    margin:0px;
    margin-bottom: 5px;
}
 
.pfp {
    height: 50px;
}

.pfp-pic {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.vid-info {
    margin-left: 13px;
    margin-top: 0px;
}
.vid-details-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-top: 16px;
}